<!DOCTYPE html>
<html lang="zxx">
{% load static %}

<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Male_Fashion Template" />
  <meta name="keywords" content="Male_Fashion, unica, creative, html" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Zorro-Estore</title>

  <style>
    .ull {
      position: relative;
      margin: 0;
      padding: 0;
      display: flex;
    }

    .ull li {
      position: relative;
      list-style: none;
      width: 60px;
      height: 60px;
      margin: 0 30px;
      transform: rotate(-30deg) skew(25deg);
      background: #000;
    }

    .ull li span {
      position: absolute;
      top: 0;
      Left: 0;
      width: 100%;
      height: 100%;
      background: #000;
      transition: 0.5s;
      display: flex !important;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 30px !important;
    }

    .ull li:hover span:nth-child(5) {
      transform: translate(40px, -40px);
      opacity: .8;
    }

    .ull li:hover span:nth-child(4) {
      transform: translate(30px, -30px);
      opacity: .8;
    }

    .ull li:hover span:nth-child(3) {
      transform: translate(20px, -20px);
      opacity: .8;
    }

    .ull li:hover span:nth-child(2) {
      transform: translate(10px, -10px);
      opacity: .8;
    }

    .ull li:hover span:nth-child(1) {
      transform: translate(0px, 0px);
      opacity: .8;
    }


    .ull li:nth-child(1) span {
      background: #3b5999
    }

    .ull li:nth-child(2) span {
      background: #55acee
    }

    .ull li:nth-child(3) span {
      background: #dd4b39
    }

    .ull li:nth-child(4) span {
      background: #0077B5
    }

    .ull li:nth-child(5) span {
      background: #e4405f
    }
  </style>


  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Css Styles -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
  <!-- 
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>

  <!-- Bootstrap icons -->
  <link rel="stylesheet" href="{% static 'dist/icons/bootstrap-icons-1.4.0/bootstrap-icons.min.css' %}"
    type="text/css" />
  <!-- Bootstrap Docs -->
  <link rel="stylesheet" href="{% static 'dist/css/bootstrap-docs.css' %}" type="text/css" />
</head>

<body style="background-color: #edf0f3">
  <!-- Page Preloder -->
  <div id="preloder">
    <div class="loader"></div>
  </div>

  <!-- Offcanvas Menu Begin -->
  <div class="offcanvas-menu-overlay"></div>
  <div class="offcanvas-menu-wrapper">
    <div class="offcanvas__option">
      <div class="offcanvas__links"></div>
      <!-- <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div> -->
    </div>
    <div class="offcanvas__nav__option">
      <a href="#" class="search-switch"><img src="{% static 'img/icon/search.png' %}" alt="" /></a>
      <a href="#"><img src="{% static 'img/icon/heart.png' %}" alt="" /></a>
      <a href="#"><img src="{% static 'img/icon/cart.png' %}" alt="" />
        <span>{{order.get_cart_items}}</span></a>
      <div class="price">{{order.get_cart_total}}</div>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__text">
      {% if user.is_authenticated %}
      <strong>
        <a style="cursor: pointer; color: black; text-decoration: none" href="{% url 'ProfileDash' %}">My
          Profile</a><br>


        <a style="cursor: pointer" class="logout">Sign
          out</a>
      </strong>


      {% else %}
      <a href="{% url 'UserLogin' %}">Sign in</a>
      {% endif %}

    </div>
  </div>
  <!-- Offcanvas Menu End -->



  <!-- Header Section Begin -->
  <header class="header container-fluid m-0 p-0" style="position:fixed; top:0; z-index: 999; justify-content: center;">
    <div class="header__top">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-7">
            <div class="header__top__left">
              <p>
                Welcome
                <span style="text-transform: capitalize">{{user.username}}</span>
                <img src="{{user.propic.url}}" height="5%" width="5%" class="rounded-circle" alt="..." />
                <span></span>
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-5">
            <div class="header__top__right">
              <div class="header__top__links">
                {% if user.is_authenticated %}
                <a href="{% url 'ProfileDash' %}">My Profile</a>


                <a style="color: white; cursor: pointer" class="logout">Sign
                  out</a>



                {% else %}
                <a href="{% url 'UserLogin' %}">Sign in</a>
                {% endif %}
              </div>
              <!-- <div class="header__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                  <li>USD</li>
                  <li>EUR</li>
                  <li>USD</li>
                </ul>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3">
          <div class="header__logo">
            <a href="{% url 'UserHome' %}"><img src="{% static 'img/zorro.svg' %}"
                style="width: 40%; height: 40%; margin-top: -15px" alt="" /></a>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <nav class="header__menu mobile-menu">
            <ul>
              <li><a href="{% url 'UserHome' %}">Home</a></li>
              <li><a href="{% url 'UserShop' %}">Shop</a></li>
              <li><a href="{% url 'UserCart' %}">Cart</a></li>
              <li><a href="{% url 'UserCheckout' %}">Checkout</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="header__nav__option">
            <a href="#" class="search-switch"><img src="{% static 'img/icon/search.png' %}" alt="" /></a>
            <a href="{% url 'mywish' %}"><img src="{% static 'img/icon/heart.png' %}" alt="" /></a>
            <a href="{% url 'UserCart' %}"><img src="{% static 'img/icon/cart.png' %}" alt="" />
              <span>0</span></a>
            <div class="price">{{order.get_cart_totall}}</div>
          </div>
        </div>
      </div>
      <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
  </header>
  <!-- Header Section End -->
  <div class="bg-info w-100">Salman</div>


  {% block content %} {% endblock %}


  <!-- Footer Section Begin -->
  <footer class="footer m-0 p-0 w-100 w-sm-100" style="background-color: black !important;">
    <div class="container" style="background-color: black !important;"><br><br>
      <div class="row" style="background-color: black !important;">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="footer__about">
            <div class="footer__logo">
              <a href="#"><img src="{% static 'img/logo2.jpg' %}" alt="" /></a>
            </div>
            <p>
              The customer is at the heart of our unique business model, which
              includes design.
            </p>
            <div>
              <ul class="d-flex ull">
                <li>
                  <a href="https://twitter.com/MichuMiras1?t=ZRPwzL65EuUh6SF-25XPIQ&s=09" target="_blank"
                    rel="noopener">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span class="fa fa-twitter" aria-hidden="true"></span>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/_theycallmemichu_/" target="_blank" rel="noopener">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span class="fa fa-instagram" aria-hidden="true"></span>
                  </a>
                </li>
                <li>
                  <a href="https://www.facebook.com/amichumiras" target="_blank" rel="noopener">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span class="fa fa-facebook-official" aria-hidden="true"></span>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/miras98/" target="_blank" rel="noopener">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span class="fa fa-linkedin-square" aria-hidden="true"></span>
                  </a>
                </li>
                <li>
                  <a href="mailto:m4michu123@gmail.com" target="_blank" rel="noopener">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span class="fa fa-google-plus-official" aria-hidden="true"></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
          <div class="footer__widget">
            <h6>Shopping</h6>
            <ul>
              <li><a href="#">Clothing Store</a></li>
              <li><a href="#">Trending Shoes</a></li>
              <li><a href="#">Accessories</a></li>
              <li><a href="#">Sale</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6">
          <div class="footer__widget">
            <h6>Shopping</h6>
            <ul>
              <li>
                <a href="#">Contact Us</a>
              </li>
              <li>
                <a href="#">Payment Methods</a>
              </li>
              <li>
                <a href="#">Delivary</a>
              </li>
              <li>
                <a href="#">Return & Exchanges</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
          <div class="footer__widget">
            <h6>NewLetter</h6>
            <div class="footer__newslatter">
              <p>
                Be the first to know about new arrivals, look books, sales &
                promos!
              </p>
              <form action="{% url 'mail' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="mail" placeholder="Your email" />
                <button type="submit">
                  <span class="icon_mail_alt"></span>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="footer__copyright__text">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <p>
              Copyright ©
              <script>
                document.write(new Date().getFullYear());
              </script>

            </p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer Section End -->



  <!-- Search Begin -->
  <div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
      <div class="search-close-switch">+</div>
      <form action="{% url 'search' %}" class="search-model-form" method="GET">
        <input type="text" name="keyword" id="search-input" placeholder="Search here.....">
        <button type="submit" class="btn btn-dark"></button>
      </form>
    </div>
  </div>
  <!-- Search End -->

  <!-- Js Plugins -->
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
  <script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'js/jquery.slicknav.js' %}"></script>
  <script src="{% static 'js/mixitup.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>

  <!-- <script src="{% static 'js/cart.js' %}"></script> -->

  <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script> -->

  <script type="text/javascript">

    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
    function uuidv4() {
      return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
        var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
        return v.toString(16);
      });
    }
    let device = getCookie('device')

    if (device == null || device == undefined) {
      device = uuidv4()
    }
    document.cookie = 'device=' + device + ";domain=;path=/"
  </script>


  <style>
    .item-action-buttons {
      display: none !important;
    }
  </style>

  <script>
    $(document).ready(function () {
      $('.logout').click(function (e) {

        Swal.fire({
          title: 'Are you sure?',
          text: "The account will be logged out!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#d33',
          cancelButtonColor: '',
          confirmButtonText: 'Logout'
        }).then((result) => {


          if (result.isConfirmed) {

            location = '{% url "UserLogout" %}';

          }
        })

      });
    });
  </script>

  <script>
    $('.wishh').on('click', function (e) {
      var product = $(this).data('id')
      var action = $(this).data('action')
      $.ajax({

        url: "{% url 'Wishlist' %}",
        data: {
          productId: product,
          action: action,

        },
        dataType: 'json',
        success: function (response) {

          if (action == 'remove') {

            const Toast = Swal.mixin({
              toast: true,
              position: 'top-end',
              showConfirmButton: false,
              timer: 3000,
              timerProgressBar: true,
              didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
              }
            })

            Toast.fire({
              icon: 'warning',
              title: 'Removing from wishlist'
            })


            $('.wished' + product + ' #remove_wish').removeClass("d-none");
            $('.wished' + product + ' #add_wish').addClass("d-none");

          }
          else {

            const Toast = Swal.mixin({
              toast: true,
              position: 'top-end',
              showConfirmButton: false,
              timer: 3000,
              timerProgressBar: true,
              didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
              }
            })

            Toast.fire({
              icon: 'success',
              title: 'Adding to wishlist'
            })

            $('.wished' + product + ' #add_wish').removeClass("d-none");
            $('.wished' + product + ' #remove_wish').addClass("d-none");

          }
        }
      });
    });
  </script>

  <script>
    $(document).ready(function () {
      $(".ajaxLoader").hide();
      // Product Filter Start
      $(".filter-checkbox,#priceFilterBtn").on("click", function () {
        var _filterObj = {};
        var _minPrice = $("#maxPrice").attr("min");
        var _maxPrice = $("#maxPrice").val();
        _filterObj.minPrice = _minPrice;
        _filterObj.maxPrice = _maxPrice;
        $(".filter-checkbox").each(function (index, ele) {
          var _filterVal = $(this).val();
          var _filterKey = $(this).data("filter");
          _filterObj[_filterKey] = Array.from(
            document.querySelectorAll(
              "input[data-filter=" + _filterKey + "]:checked"
            )
          ).map(function (el) {
            return el.value;
          });
        });
        console.log(_filterObj);

        // Run Ajax
        $.ajax({
          url: "{% url 'filter_shop_products' %}",
          data: _filterObj,
          dataType: "json",

          success: function (res) {
            console.log(res);
            $("#mainshop").html(res.data);
          },
        });
      });
      // End

      // Filter Product According to the price
      // $("#maxPrice").on('blur',function(){
      // 	var _min=$(this).attr('min');
      // 	var _max=$(this).attr('max');
      // 	var _value=$(this).val();
      // 	console.log(_value,_min,_max);2
      // 	if(_value < parseInt(_min) || _value > parseInt(_max)){
      // 		alert('Values should be '+_min+'-'+_max);
      // 		$(this).val(_min);
      // 		$(this).focus();
      // 		$("#rangeInput").val(_min);
      // 		return false;
      // 	}
      // });
      // End
    });

  </script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <!-- Bootstrap icons -->
  <link rel="stylesheet" href="{% static 'dist/icons/bootstrap-icons-1.4.0/bootstrap-icons.min.css' %}"
    type="text/css" />
  <!-- Bootstrap Docs -->
  <link rel="stylesheet" href="{% static 'dist/css/bootstrap-docs.css' %}" type="text/css" />


</body>

</html>