{% extends 'base.html' %}
{% block content %}
{% load static %}
<br><br><br><br><br><br>
<div class="container m-5 p-5 w-50  mx-auto bg-dark text-light rounded ">
  <h3 class="text-center text-white">Edit your profile here!</h3>
  <form method="POST" enctype="multipart/form-data">
    {% load crispy_forms_tags %}
    {% csrf_token %}
    <div class="row">

      <div class="col-md-6 p-2">{{form.first_name|as_crispy_field}}</div>
      <div class="col-md-6 p-2">{{form.last_name|as_crispy_field}}</div>
      <div class="col-md-6 p-2">{{form.email|as_crispy_field}}</div>

      <div class="col-md-6 p-2">{{form.phone|as_crispy_field}}</div>
      <div class="col-md-6 p-2">{{form.username|as_crispy_field}}</div>
      <div class="col-md-6 p-2">{{form.propic|as_crispy_field}}</div>

    </div>
    {% for error in messages %}
    <h6 class="text-success p-3" style="background-color: lightgreen">
      {{error}}
    </h6>
    {% endfor %}
    <button type="submit" class="btn btn-primary mt-3">Submit</button>

  </form>
  <a href="{% url 'ProfileDash' %}"><button class="btn btn-dark mt-3">Go back</button></a>
</div>
<style>
  ul,
  #hint_id_username,
  #hint_id_password2 {
    display: none;
  }
</style>

{% endblock %}