{% extends 'base.html' %}

{% block content %}
{% load static %}

<!-- Breadcrumb Section Begin -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shop</h4>
                    <div class="breadcrumb__links">
                        <a href="{% url 'UserHome' %}">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shop Section Begin -->
<section class="shop spad" style="background-color: white;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <form action="{% url 'search' %}" method="GET">
                            <input type="text" name="keyword" placeholder="Search...">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul style="height: fit-content;">
                                                {% for catogery in catogeries %}
                                                <li class="list-group-item">
                                                    <input class="filter-checkbox" data-filter="catogery"
                                                        type="checkbox" value="{{catogery.id}}"><span class="ps-3"><a
                                                            href="{% url 'FilterView' catogery.id %}"
                                                            class>{{catogery.name}}({{catogery.numpro}})</a></span></input>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseTwo">Branding</a>
                                </div>
                                <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__brand">
                                            <ul>

                                                {% for brand in brands %}
                                                <li class="list-group-item"><input class="filter-checkbox brands"
                                                        data-filter="brands" type="checkbox" value="{{brand.id}}"><span
                                                        class="ps-3"><a
                                                            href="{% url 'FilterBrand' brand.id %}">{{brand.bname}}({{brand.bpro}})</a></span></input>
                                                </li>
                                                {% endfor %}

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                                </div>
                                <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__price">
                                            <ul>
                                                {% for ptype in ptypes %}
                                                <li class="list-group-item"><input class="filter-checkbox"
                                                        data-filter="ptype" type="checkbox" value="{{ptype.id}}"><span
                                                        class="ps-3"><a
                                                            href="{% url 'FilterPrice' ptype.id %}">{{ptype.genre}}({{ptype.ppro}})</a></span></input>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseFour">Size</a>
                                </div>
                                <div id="collapseFour" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__size">
                                            <label for="xs">xs
                                                <input type="radio" id="xs">
                                            </label>
                                            <label for="sm">s
                                                <input type="radio" id="sm">
                                            </label>
                                            <label for="md">m
                                                <input type="radio" id="md">
                                            </label>
                                            <label for="xl">xl
                                                <input type="radio" id="xl">
                                            </label>
                                            <label for="2xl">2xl
                                                <input type="radio" id="2xl">
                                            </label>
                                            <label for="xxl">xxl
                                                <input type="radio" id="xxl">
                                            </label>
                                            <label for="3xl">3xl
                                                <input type="radio" id="3xl">
                                            </label>
                                            <label for="4xl">4xl
                                                <input type="radio" id="4xl">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseFive">Colors</a>
                                </div>
                                <div id="collapseFive" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__color">
                                            <label class="c-1" for="sp-1">
                                                <input type="radio" id="sp-1">
                                            </label>
                                            <label class="c-2" for="sp-2">
                                                <input type="radio" id="sp-2">
                                            </label>
                                            <label class="c-3" for="sp-3">
                                                <input type="radio" id="sp-3">
                                            </label>
                                            <label class="c-4" for="sp-4">
                                                <input type="radio" id="sp-4">
                                            </label>
                                            <label class="c-5" for="sp-5">
                                                <input type="radio" id="sp-5">
                                            </label>
                                            <label class="c-6" for="sp-6">
                                                <input type="radio" id="sp-6">
                                            </label>
                                            <label class="c-7" for="sp-7">
                                                <input type="radio" id="sp-7">
                                            </label>
                                            <label class="c-8" for="sp-8">
                                                <input type="radio" id="sp-8">
                                            </label>
                                            <label class="c-9" for="sp-9">
                                                <input type="radio" id="sp-9">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseSix">Tags</a>
                                </div>
                                <div id="collapseSix" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__tags">
                                            <a href="#">Product</a>
                                            <a href="#">Bags</a>
                                            <a href="#">Shoes</a>
                                            <a href="#">Fashio</a>
                                            <a href="#">Clothing</a>
                                            <a href="#">Hats</a>
                                            <a href="#">Accessories</a>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                <strong>
                                    <p>{{count}} results found</p>
                                </strong>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__right">
                                <p>Sort by Price:</p>
                                <select onchange="location = this.value; ">
                                    <option value="{% url 'UserShop' %}">Normal</option>
                                    <option value="{% url 'lowtohigh' %}">Low To High</option>
                                    <option value="{% url 'hightolow' %}">High To Low</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" id="mainshop">


                    {% for product in products %}

                    {% if product.stocks == 0 %}

                    <div class="col-lg-4 col-md-6 col-sm-6 wished{{product.id}}">
                        <div class=" rounded-3"
                            style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; padding: 10px;">
                            <a href="{% url 'Product' product.id %}">
                                <div class="product__item__pic set-bg" href="{% url 'Product' product.id %}"
                                    data-setbg="{{product.image1.url}}">
                                    <span class="label bg-dark text-white">Out of stock</span>
                                </div>
                            </a>
                            <div class="product__item__text">
                                <div class="d-flex justify-content-between">
                                    <h6>{{product.name}}</h6>
                                    <div>
                                        <!-- <i class="fa fa-heart-o" style="font-size:22px;"></i>
                                        <i class="fa fa-heart" style="font-size:22px;color:red"></i> -->
                                        <span class="d-flex" style="position: absolute; top: 0; right: 0;">

                                            <div class="{% if product.id not in wishes %}d-none{% endif %}"
                                                id="add_wish">
                                                <button class="btn wishh "
                                                    style="background: none; border: none; text-decoration: none;"
                                                    data-id="{{product.id}}" data-action="remove">
                                                    <i class="fa fa-heart" style="font-size:22px;color:red"></i>

                                                </button>
                                            </div>

                                            <div class="{% if product.id in wishes %}d-none{% endif %}"
                                                id="remove_wish">
                                                <button class="btn wishh"
                                                    style="background: none; border: none; text-decoration: none;"
                                                    data-id="{{product.id}}" data-action="add">
                                                    <i class="fa fa-heart-o" style="font-size:22px;"></i>

                                                </button>
                                            </div>

                                        </span>
                                    </div>
                                </div>
                                <h5>{{product.newpriceinr}}</h5>
                                <div class="product__color__select">
                                </div>
                            </div>
                            <div class="d-flex mt-3">
                                <a class="add-cart update-cart outofstockk" data-product="{{product.id}}"
                                    data-action="add" style="cursor: pointer"><button class="btn btn-dark">+ Add
                                        To Cart</button></a>
                                <button class="btn btn-info text-white rounded-4 px-3 mx-2 outofstockk"><a>Buy
                                        Now </a></button>
                            </div>

                        </div>
                    </div>

                    {% elif product.offer == True %}
                    <div class="col-lg-4 col-md-6 col-sm-6 wished{{product.id}}">
                        <div class=" rounded-3"
                            style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; padding: 10px;">
                            <a href="{% url 'Product' product.id %}">
                                <div class="product__item__pic set-bg" href="{% url 'Product' product.id %}"
                                    data-setbg="{{product.image1.url}}">
                                    <span class="label bg-danger text-white">Sale</span>
                                </div>
                            </a>
                            <div class="product__item__text">
                                <span class="d-flex justify-content-between">
                                    <h6>{{product.name}}</h6>
                                    <div>
                                        <span class="d-flex" style="position: absolute; top: 0; right: 0;">

                                            <div class="{% if product.id not in wishes %}d-none{% endif %}"
                                                id="add_wish">
                                                <button class="btn wishh "
                                                    style="background: none; border: none; text-decoration: none;"
                                                    data-id="{{product.id}}" data-action="remove">
                                                    <i class="fa fa-heart" style="font-size:22px;color:red"></i>

                                                </button>
                                            </div>

                                            <div class="{% if product.id in wishes %}d-none{% endif %}"
                                                id="remove_wish">
                                                <button class="btn wishh"
                                                    style="background: none; border: none; text-decoration: none;"
                                                    data-id="{{product.id}}" data-action="add">
                                                    <i class="fa fa-heart-o" style="font-size:22px;"></i>

                                                </button>
                                            </div>

                                        </span>
                                    </div>
                                </span>
                                <span class="d-flex">
                                    <h5 class="px-2">{{product.newpriceinr}}</h5>
                                    <p style="text-decoration: line-through;" class="text-muted">{{product.priceinr}}
                                    </p>
                                </span>
                            </div>
                            <div class="d-flex">
                                <a class="add-cart update-cart" data-product="{{product.id}}" data-action="add"
                                    style="cursor: pointer"><button class="btn btn-dark">+ Add
                                        To Cart</button></a>
                                <button class="btn btn-info text-white rounded-4 px-3 mx-2"><a
                                        href="{% url 'BuyNow' product.id %}">Buy
                                        Now </a></button>
                            </div>

                        </div>
                    </div>
                    {% elif product.catogery.catoffer == True %}
                    <div class="col-lg-4 col-md-6 col-sm-6 wished{{product.id}}">
                        <div class=" rounded-3"
                            style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; padding: 10px;">
                            <a href="{% url 'Product' product.id %}">
                                <div class="product__item__pic set-bg" href="{% url 'Product' product.id %}"
                                    data-setbg="{{product.image1.url}}">
                                    <span class="label bg-danger text-white">Sale</span>
                                </div>
                            </a>
                            <div class="product__item__text">
                                <span class="d-flex justify-content-between">
                                    <h6>{{product.name}}</h6>
                                    <div>
                                        <span class="d-flex" style="position: absolute; top: 0; right: 0;">

                                            <div class="{% if product.id not in wishes %}d-none{% endif %}"
                                                id="add_wish">
                                                <button class="btn wishh "
                                                    style="background: none; border: none; text-decoration: none;"
                                                    data-id="{{product.id}}" data-action="remove">
                                                    <i class="fa fa-heart" style="font-size:22px;color:red"></i>

                                                </button>
                                            </div>

                                            <div class="{% if product.id in wishes %}d-none{% endif %}"
                                                id="remove_wish">
                                                <button class="btn wishh"
                                                    style="background: none; border: none; text-decoration: none;"
                                                    data-id="{{product.id}}" data-action="add">
                                                    <i class="fa fa-heart-o" style="font-size:22px;"></i>

                                                </button>
                                            </div>

                                        </span>
                                    </div>
                                </span>
                                <span class="d-flex">
                                    <h5 class="px-2">{{product.newpriceinr}}</h5>
                                    <p style="text-decoration: line-through;" class="text-muted">{{product.priceinr}}
                                    </p>
                                </span>
                            </div>
                            <div class="d-flex ">
                                <a class="add-cart update-cart" data-product="{{product.id}}" data-action="add"
                                    style="cursor: pointer"><button class="btn btn-dark">+ Add
                                        To Cart</button></a>
                                <button class="btn btn-info text-white rounded-4 px-3 mx-2"><a
                                        href="{% url 'BuyNow' product.id %}">Buy
                                        Now </a></button>
                            </div>

                        </div>
                    </div>

                    {% else %}
                    <div class="col-lg-4 col-md-6 col-sm-6 wished{{product.id}}">
                        <div class=" rounded-3"
                            style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; padding: 10px;">
                            <a href="{% url 'Product' product.id %}">
                                <div class="product__item__pic set-bg" href="{% url 'Product' product.id %}"
                                    data-setbg="{{product.image1.url}}">
                                </div>

                            </a>
                            <div class="product__item__text">
                                <span class="d-flex justify-content-between">

                                    <h6>{{product.name}}</h6>
                                    <div>
                                        <span class="d-flex" style="position: absolute; top: 0; right: 0;">

                                            <div class="{% if product.id not in wishes %}d-none{% endif %}"
                                                id="add_wish">
                                                <button class="btn wishh "
                                                    style="background: none; border: none; text-decoration: none;"
                                                    data-id="{{product.id}}" data-action="remove">
                                                    <i class="fa fa-heart" style="font-size:22px;color:red"></i>

                                                </button>
                                            </div>

                                            <div class="{% if product.id in wishes %}d-none{% endif %}"
                                                id="remove_wish">
                                                <button class="btn wishh"
                                                    style="background: none; border: none; text-decoration: none;"
                                                    data-id="{{product.id}}" data-action="add">
                                                    <i class="fa fa-heart-o" style="font-size:22px;"></i>

                                                </button>
                                            </div>

                                        </span>
                                    </div>

                                </span>
                                <h5>{{product.newpriceinr}}</h5>
                                <div class="product__color__select">
                                </div>
                            </div>
                            <div class="d-flex mt-3">
                                <a class="add-cart update-cart" data-product="{{product.id}}" data-action="add"
                                    style="cursor: pointer"><button class="btn btn-dark">+ Add
                                        To Cart</button></a>
                                <button class="btn btn-info text-white rounded-4 px-3 mx-2"><a
                                        href="{% url 'BuyNow' product.id %}">Buy
                                        Now </a></button>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                
                <nav class="my-4 justify-content-center" aria-label="Page navigation sample">
                    {% if products.has_other_pages %}
                    <ul class="pagination mx-auto justify-content-center ">
                        {% if products.has_previous %}
                        <li class="page-item"><a class="page-link"
                                href="?page-{{products.previous_page_number}}">Previous</a></li>
                        {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                        {% endif %}
                        {% for i in products.paginator.page_range %}
                        {% if products.number == i %}
                        <li class="page-item active"><a class="page-link" href="">{{i}}</a></li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if products.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{products.next_page_number}}">Next</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </nav>
                <!-- <div class="row">
                    <div class="col-lg-12">
                        <div class="product__pagination">
                            <a class="active" href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <span>...</span>
                            <a href="#">21</a>
                        </div>
                    </div>
                </div> -->
            </div>

        </div>
    </div>
    <!-- <nav class="mt-5" aria-label="Page navigation example">
        <ul class="pagination justify-content-center mt-5">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav> -->

</section>



<!-- Shop Section End -->
<script src="{% static 'js/product-filter.js' %}"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="sweetalert2.all.min.js"></script>
<script src="sweetalert2.min.js"></script>
<link rel="stylesheet" href="sweetalert2.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('.outofstockk').click(function (e) {

            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Out of Stock!',
                footer: '<a href="">Continue shopiing</a>'

            });

        });
    });
</script>
<script>
    $('.update-cart').on('click', function (e) {
        var product = $(this).data('product')
        var action = $(this).data('action')
        console.log(product)
        console.log(action)
        $.ajax({
            type: 'POST',
            url: "{% url 'updateitem' %}",
            data: {
                productId: product,
                action: action,
                csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            dataType: 'json',
            success: function (response) {
            }
        });
        Swal.fire(
            'Added to cart!',
            'Your item have added to cart',
            'success'
        )
    });
</script>



<!-- <script>
    $(document).ready(function () {
        $(".ajaxLoader").hide();
        // Product Filter Start
        $(".filter-checkbox,#priceFilterBtn").on('click', function () {
            var _filterObj = {};
            var _minPrice = $('#maxPrice').attr('min');
            var _maxPrice = $('#maxPrice').val();
            _filterObj.minPrice = _minPrice;
            _filterObj.maxPrice = _maxPrice;
            $(".filter-checkbox").each(function (index, ele) {
                var _filterVal = $(this).val();
                var _filterKey = $(this).data('filter');
                _filterObj[_filterKey] = Array.from(document.querySelectorAll('input[data-filter=' + _filterKey + ']:checked')).map(function (el) {
                    return el.value;
                });
            });
            // Run Ajax
            $.ajax({
                url: '/filter-data',
                data: _filterObj,
                dataType: 'json',
                beforeSend: function () {
                    $(".ajaxLoader").show();
                },
                success: function (res) {
                    console.log(res);
                    $("#filteredProducts").html(res.data);
                    $(".ajaxLoader").hide();
                },
            });
        });
        // End

        // Filter Product According to the price
        //  $("#maxPrice").on('blur', function () {
        //      var _min = $(this).attr('min');
        //      var _max = $(this).attr('max');
        //      var _value = $(this).val();
        //      console.log(_value, _min, _max);
        //      if (_value < parseInt(_min) || _value > parseInt(_max)) {
        //          alert('Values should be ' + _min + '-' + _max);
        //          $(this).val(_min);
        //          $(this).focus();
        //          $("#rangeInput").val(_min);
        //          return false;
        //      }
        //  });
        // End
    });
</script> -->


{% endblock %}