{% extends 'adminbase.html' %}


{% block content %}
<link rel="stylesheet" type='text/css'
    href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
<!--Chart js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
    integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"
    integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<!-- content -->

<div class="dash-body container " width="100" style="height: 100rem;">


    <main class="main users chart-page" id="skip-target">
        <!-- <div class="container">
            <h2 class="main-title">Dashboard</h2>
            <div class="row stat-cards">
                <div class="col-md-6 col-xl-3">
                    <article class="stat-cards-item">
                        <div class="stat-cards-icon primary">
                            <i data-feather="bar-chart-2" aria-hidden="true"></i>
                        </div>
                        <div class="stat-cards-info">
                            <p class="stat-cards-info__num">{{customers}}</p>
                            <p class="stat-cards-info__title">Total Customers</p>

                        </div>
                    </article>
                </div>
                <div class="col-md-6 col-xl-3">
                    <article class="stat-cards-item">
                        <div class="stat-cards-icon warning">
                            <i data-feather="file" aria-hidden="true"></i>
                        </div>
                        <div class="stat-cards-info">
                            <p class="stat-cards-info__num">{{orders}}</p>
                            <p class="stat-cards-info__title">Total Orders</p>

                        </div>
                    </article>
                </div>
                <div class="col-md-6 col-xl-3">
                    <article class="stat-cards-item">
                        <div class="stat-cards-icon purple">
                            <i data-feather="file" aria-hidden="true"></i>
                        </div>
                        <div class="stat-cards-info">
                            <p class="stat-cards-info__num">{{product_count}}</p>
                            <p class="stat-cards-info__title">Total Products</p>

                        </div>
                    </article>
                </div>
                <div class="col-md-6 col-xl-3">
                    <article class="stat-cards-item">
                        <div class="stat-cards-icon success">
                            <i data-feather="feather" aria-hidden="true"></i>
                        </div>
                        <div class="stat-cards-info">
                            <p class="stat-cards-info_num">{{total_revenue.total_amount_sum}}</p>
                            <p class="stat-cards-info__title">Total Income</p>

                        </div>
                    </article>
                </div>
            </div>
        </div> -->
    </main>
    <div class="row p-2">
        <div class="col-lg-3 col-md-3  border border-rounded border-1 border-primary">
            <div class="card h-100">
                <div class="card-body">
                    <div class="d-flex mb-3">
                        <div class="display-7">
                            <i class="bi bi-basket"></i>
                        </div>
                        <div class="dropdown ms-auto">
                            <a href="#" data-bs-toggle="dropdown" class="btn btn-sm" aria-haspopup="true"
                                aria-expanded="false">
                                <i class="bi bi-three-dots"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="#" class="dropdown-item">View Detail</a>
                                <a href="#" class="dropdown-item">Download</a>
                            </div>
                        </div>
                    </div>
                    <h4 class="mb-3">Total Revenue</h4>
                    <div class="d-flex mb-3">
                        <div class="display-7">{{total_revenue.amount__sum}}</div>
                        <div class="ms-auto" id="total-orders"></div>
                    </div>
                    <div class="text-success">
                        <!-- Over last month 1.4% <i class="small bi bi-arrow-up"></i> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3  border border-rounded border-1 border-primary">
            <div class="card h-100">
                <div class="card-body">
                    <div class="d-flex mb-3">
                        <div class="display-7">
                            <i class="bi bi-credit-card-2-front"></i>
                        </div>
                        <div class="dropdown ms-auto">
                            <a href="#" data-bs-toggle="dropdown" class="btn btn-sm" aria-haspopup="true"
                                aria-expanded="false">
                                <i class="bi bi-three-dots"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="#" class="dropdown-item">View Detail</a>
                                <a href="#" class="dropdown-item">Download</a>
                            </div>
                        </div>
                    </div>
                    <h4 class="mb-3">Products</h4>
                    <div class="d-flex mb-3">
                        <div class="display-7">{{product_count}}</div>
                        <div class="ms-auto" id="total-sales"></div>
                    </div>
                    <div class="text-danger">
                        <!-- Over last month 2.4% <i class="small bi bi-arrow-down"></i> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3  border border-rounded border-1 border-primary">
            <div class="card h-100">
                <div class="card-body">
                    <div class="d-flex mb-3">
                        <div class="display-7">
                            <i class="bi bi-basket"></i>
                        </div>
                        <div class="dropdown ms-auto">
                            <a href="#" data-bs-toggle="dropdown" class="btn btn-sm" aria-haspopup="true"
                                aria-expanded="false">
                                <i class="bi bi-three-dots"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="#" class="dropdown-item">View Detail</a>
                                <a href="#" class="dropdown-item">Download</a>
                            </div>
                        </div>
                    </div>
                    <h4 class="mb-3">Customers</h4>
                    <div class="d-flex mb-3">
                        <div class="display-7">{{customers}}</div>
                        <div class="ms-auto" id="total-orders"></div>
                    </div>
                    <div class="text-success">
                        <!-- Over last month 1.4% <i class="small bi bi-arrow-up"></i> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3  border border-rounded border-1 border-primary">
            <div class="card h-100">
                <div class="card-body">
                    <div class="d-flex mb-3">
                        <div class="display-7">
                            <i class="bi bi-credit-card-2-front"></i>
                        </div>
                        <div class="dropdown ms-auto">
                            <a href="#" data-bs-toggle="dropdown" class="btn btn-sm" aria-haspopup="true"
                                aria-expanded="false">
                                <i class="bi bi-three-dots"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="#" class="dropdown-item">View Detail</a>
                                <a href="#" class="dropdown-item">Download</a>
                            </div>
                        </div>
                    </div>
                    <h4 class="mb-3">Orders</h4>
                    <div class="d-flex mb-3">
                        <div class="display-7">{{orders}}</div>
                        <div class="ms-auto" id="total-sales"></div>
                    </div>
                    <div class="text-danger">
                        <!-- Over last month 2.4% <i class="small bi bi-arrow-down"></i> -->
                    </div>
                </div>
            </div>
        </div>


        <div class="row p-2">

            <div class="col-md-6 text-center">
                <h2 class="main-title">Payment Methods</h2>
                <canvas id="paymentchart" width="400" height="400">

                </canvas>

            </div>
            <div class="col-md-6 text-center">
                <h2 class="main-title">Order Status</h2>
                <canvas id="orderchart" width="400" height="400">

                </canvas>

            </div>
            <div class="col-md-6 text-center">
                <h2 class="main-title">Products Available</h2>
                <canvas id="productchart" width="400" height="400">

                </canvas>

            </div>



            <div class="col-md-6 text-center">
                <h2 class="main-title">Category Wise Orders</h2>
                <canvas id="orderbycategory" width="400" height="400">

                </canvas>

            </div>
        </div>
    </div>





    <!-- <div class="content ">

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col-lg-4 col-md-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="d-flex mb-3">
                        <div class="display-7">
                            <i class="bi bi-basket"></i>
                        </div>
                        <div class="dropdown ms-auto">
                            <a href="#" data-bs-toggle="dropdown" class="btn btn-sm" aria-haspopup="true"
                                aria-expanded="false">
                                <i class="bi bi-three-dots"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="#" class="dropdown-item">View Detail</a>
                                <a href="#" class="dropdown-item">Download</a>
                            </div>
                        </div>
                    </div>
                    <h4 class="mb-3">Orders</h4>
                    <div class="d-flex mb-3">
                        <div class="display-7">310</div>
                        <div class="ms-auto" id="total-orders"></div>
                    </div>
                    <div class="text-success">
                        Over last month 1.4% <i class="small bi bi-arrow-up"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="d-flex mb-3">
                        <div class="display-7">
                            <i class="bi bi-credit-card-2-front"></i>
                        </div>
                        <div class="dropdown ms-auto">
                            <a href="#" data-bs-toggle="dropdown" class="btn btn-sm" aria-haspopup="true"
                                aria-expanded="false">
                                <i class="bi bi-three-dots"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="#" class="dropdown-item">View Detail</a>
                                <a href="#" class="dropdown-item">Download</a>
                            </div>
                        </div>
                    </div>
                    <h4 class="mb-3">Sales</h4>
                    <div class="d-flex mb-3">
                        <div class="display-7">$3.759,00</div>
                        <div class="ms-auto" id="total-sales"></div>
                    </div>
                    <div class="text-danger">
                        Over last month 2.4% <i class="small bi bi-arrow-down"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-4">
                        <h6 class="card-title">Recent Reviews</h6>
                        <div class="dropdown ms-auto">
                            <a href="#">View All</a>
                        </div>
                    </div>
                    <div class="summary-cards">
                        <div>
                            <div class="d-flex align-items-center mb-3">
                                <div class="avatar me-3">
                                    <img src="../../assets/images/user/women_avatar5.jpg" class="rounded-circle"
                                        alt="image">
                                </div>
                                <div>
                                    <h5 class="mb-1">Amara Keel</h5>
                                    <ul class="list-inline ms-auto mb-0">
                                        <li class="list-inline-item mb-0">
                                            <i class="bi bi-star-fill text-warning"></i>
                                        </li>
                                        <li class="list-inline-item mb-0">
                                            <i class="bi bi-star-fill text-warning"></i>
                                        </li>
                                        <li class="list-inline-item mb-0">
                                            <i class="bi bi-star-fill text-warning"></i>
                                        </li>
                                        <li class="list-inline-item mb-0">
                                            <i class="bi bi-star-fill text-warning"></i>
                                        </li>
                                        <li class="list-inline-item mb-0">
                                            <i class="bi bi-star-fill text-muted"></i>
                                        </li>
                                        <li class="list-inline-item mb-0">(4)</li>
                                    </ul>
                                </div>
                            </div>
                            <div>I love your products. It is very easy and fun to use this panel.</div>
                        </div>
                        <div>
                            <div class="d-flex align-items-center mb-3">
                                <div class="avatar me-3">
                                    <span class="avatar-text bg-indigo rounded-circle">J</span>
                                </div>
                                <div>
                                    <h5 class="mb-1">Johnath Siddeley</h5>
                                    <ul class="list-inline ms-auto mb-0">
                                        <li class="list-inline-item mb-0">
                                            <i class="bi bi-star-fill text-warning"></i>
                                        </li>
                                        <li class="list-inline-item mb-0">
                                            <i class="bi bi-star-fill text-warning"></i>
                                        </li>
                                        <li class="list-inline-item mb-0">
                                            <i class="bi bi-star-fill text-warning"></i>
                                        </li>
                                        <li class="list-inline-item mb-0">
                                            <i class="bi bi-star-fill text-warning"></i>
                                        </li>
                                        <li class="list-inline-item mb-0">
                                            <i class="bi bi-star-fill text-warning"></i>
                                        </li>
                                        <li class="list-inline-item mb-0">(5)</li>
                                    </ul>
                                </div>
                            </div>
                            <div>Very nice glasses. I ordered for my friend.</div>
                        </div>
                        <div>
                            <div class="d-flex align-items-center mb-3">
                                <div class="avatar me-3">
                                    <span class="avatar-text bg-yellow rounded-circle">D</span>
                                </div>
                                <div>
                                    <h5 class="mb-1">David Berks</h5>
                                    <ul class="list-inline ms-auto mb-0">
                                        <li class="list-inline-item mb-0">
                                            <i class="bi bi-star-fill text-warning"></i>
                                        </li>
                                        <li class="list-inline-item mb-0">
                                            <i class="bi bi-star-fill text-warning"></i>
                                        </li>
                                        <li class="list-inline-item mb-0">
                                            <i class="bi bi-star-fill text-warning"></i>
                                        </li>
                                        <li class="list-inline-item mb-0">
                                            <i class="bi bi-star-fill text-warning"></i>
                                        </li>
                                        <li class="list-inline-item mb-0">
                                            <i class="bi bi-star-fill text-warning"></i>
                                        </li>
                                        <li class="list-inline-item mb-0">(5)</li>
                                    </ul>
                                </div>
                            </div>
                            <div>I am very satisfied with this product.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="d-flex mb-4">
                        <h6 class="card-title mb-0">Customer Rating</h6>
                        <div class="dropdown ms-auto">
                            <a href="#" data-bs-toggle="dropdown" class="btn btn-sm" aria-haspopup="true"
                                aria-expanded="false">
                                <i class="bi bi-three-dots"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="#" class="dropdown-item">View Detail</a>
                                <a href="#" class="dropdown-item">Download</a>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="display-6">3.0</div>
                        <div class="d-flex justify-content-center gap-3 my-3">
                            <i class="bi bi-star-fill icon-lg text-warning"></i>
                            <i class="bi bi-star-fill icon-lg text-warning"></i>
                            <i class="bi bi-star-fill icon-lg text-warning"></i>
                            <i class="bi bi-star-fill icon-lg text-muted"></i>
                            <i class="bi bi-star-fill icon-lg text-muted"></i>
                            <span>(318)</span>
                        </div>
                    </div>
                    <div class="text-muted d-flex align-items-center justify-content-center">
                        <span class="text-success me-3 d-block">
                            <i class="bi bi-arrow-up me-1 small"></i>+35
                        </span> Point from last month
                    </div>
                    <div class="row my-4">
                        <div class="col-md-6 m-auto">
                            <div id="customer-rating"></div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-outline-primary btn-icon">
                            <i class="bi bi-download"></i> Download Report
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card h-100 bg-purple">
                <div class="card-body text-center">
                    <div class="text-white-50">
                        <div class="bi bi-box-seam display-6 mb-3"></div>
                        <div class="display-8 mb-2">Products Sold</div>
                        <h5>89 Sold</h5>
                    </div>
                    <div id="products-sold"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card widget h-100">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="card-title">
                        Your Top Countries
                        <a href="#" class="bi bi-question-circle ms-1 small" data-bs-toggle="tooltip"
                            title="Sales performance revenue based by country"></a>
                    </h5>
                    <a href="#">View All</a>
                </div>
                <div class="card-body">
                    <div class="list-group list-group-flush">
                        <div class="list-group-item d-flex justify-content-between align-items-center px-0">
                            <div class="d-flex flex-grow-1 align-items-center">
                                <img width="45" class="me-3"
                                    src="https://vetra.laborasyon.com/assets/flags/united-states-of-america.svg"
                                    alt="...">
                                <span>United States</span>
                            </div>
                            <span>$1.671,10</span>
                        </div>
                        <div class="list-group-item d-flex justify-content-between align-items-center px-0">
                            <div class="d-flex flex-grow-1 align-items-center">
                                <img width="45" class="me-3"
                                    src="https://vetra.laborasyon.com/assets/flags/venezuela.svg" alt="...">
                                <span>Venezuela</span>
                            </div>
                            <span>$1.064,75</span>
                        </div>
                        <div class="list-group-item d-flex justify-content-between align-items-center px-0">
                            <div class="d-flex flex-grow-1 align-items-center">
                                <img width="45" class="me-3"
                                    src="https://vetra.laborasyon.com/assets/flags/salvador.svg" alt="...">
                                <span>Salvador</span>
                            </div>
                            <span>$1.055,98</span>
                        </div>
                        <div class="list-group-item d-flex justify-content-between align-items-center px-0">
                            <div class="d-flex flex-grow-1 align-items-center">
                                <img width="45" class="me-3" src="https://vetra.laborasyon.com/assets/flags/russia.svg"
                                    alt="...">
                                <span>Russia</span>
                            </div>
                            <span>$1.042,00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-12">
            <div class="card widget">
                <div class="card-header">
                    <h5 class="card-title">Activity Overview</h5>
                </div>
                <div class="row g-4">
                    <div class="col-md-6">
                        <div class="card border-0">
                            <div class="card-body text-center">
                                <div class="display-5">
                                    <i class="bi bi-truck text-secondary"></i>
                                </div>
                                <h5 class="my-3">Delivered</h5>
                                <div class="text-muted">15 New Packages</div>
                                <div class="progress mt-3" style="height: 5px">
                                    <div class="progress-bar bg-secondary" role="progressbar" style="width: 25%"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card border-0">
                            <div class="card-body text-center">
                                <div class="display-5">
                                    <i class="bi bi-receipt text-warning"></i>
                                </div>
                                <h5 class="my-3">Ordered</h5>
                                <div class="text-muted">72 New Items</div>
                                <div class="progress mt-3" style="height: 5px">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 67%"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card border-0">
                            <div class="card-body text-center">
                                <div class="display-5">
                                    <i class="bi bi-bar-chart text-info"></i>
                                </div>
                                <h5 class="my-3">Reported</h5>
                                <div class="text-muted">50 Support New Cases</div>
                                <div class="progress mt-3" style="height: 5px">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 80%"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card border-0">
                            <div class="card-body text-center">
                                <div class="display-5">
                                    <i class="bi bi-cursor text-success"></i>
                                </div>
                                <h5 class="my-3">Arrived</h5>
                                <div class="text-muted">34 Upgraded Boxed</div>
                                <div class="progress mt-3" style="height: 5px">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 55%"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-md-12">
            <div class="card widget">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="card-title">Recent Products</h5>
                    <div class="dropdown ms-auto">
                        <a href="#" data-bs-toggle="dropdown" class="btn btn-sm btn-floating" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="bi bi-three-dots"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a href="#" class="dropdown-item">Action</a>
                            <a href="#" class="dropdown-item">Another action</a>
                            <a href="#" class="dropdown-item">Something else here</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p class="text-muted">Products added today. Click <a href="#">here</a> for more details</p>
                    <div class="table-responsive">
                        <table class="table table-custom mb-0" id="recent-products">
                            <thead>
                                <tr>
                                    <th>
                                        <input class="form-check-input select-all" type="checkbox"
                                            data-select-all-target="#recent-products" id="defaultCheck1">
                                    </th>
                                    <th>Photo</th>
                                    <th>Name</th>
                                    <th>Stock</th>
                                    <th>Price</th>
                                    <th class="text-end">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input class="form-check-input" type="checkbox">
                                    </td>
                                    <td>
                                        <a href="#">
                                            <img src="../../assets/images/products/10.jpg" class="rounded" width="40"
                                                alt="...">
                                        </a>
                                    </td>
                                    <td>Cookie</td>
                                    <td>
                                        <span class="text-danger">Out of Stock</span>
                                    </td>
                                    <td>$10,50</td>
                                    <td class="text-end">
                                        <div class="d-flex">
                                            <div class="dropdown ms-auto">
                                                <a href="#" data-bs-toggle="dropdown" class="btn btn-floating"
                                                    aria-haspopup="true" aria-expanded="false">
                                                    <i class="bi bi-three-dots"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a href="#" class="dropdown-item">Action</a>
                                                    <a href="#" class="dropdown-item">Another action</a>
                                                    <a href="#" class="dropdown-item">Something else here</a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input class="form-check-input" type="checkbox">
                                    </td>
                                    <td>
                                        <a href="#">
                                            <img src="../../assets/images/products/7.jpg" class="rounded" width="40"
                                                alt="...">
                                        </a>
                                    </td>
                                    <td>Glass</td>
                                    <td>
                                        <span class="text-success">In Stock</span>
                                    </td>
                                    <td>$70,20</td>
                                    <td class="text-end">
                                        <div class="d-flex">
                                            <div class="dropdown ms-auto">
                                                <a href="#" data-bs-toggle="dropdown" class="btn btn-floating"
                                                    aria-haspopup="true" aria-expanded="false">
                                                    <i class="bi bi-three-dots"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a href="#" class="dropdown-item">Action</a>
                                                    <a href="#" class="dropdown-item">Another action</a>
                                                    <a href="#" class="dropdown-item">Something else here</a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input class="form-check-input" type="checkbox">
                                    </td>
                                    <td>
                                        <a href="#">
                                            <img src="../../assets/images/products/8.jpg" class="rounded" width="40"
                                                alt="...">
                                        </a>
                                    </td>
                                    <td>Headphone</td>
                                    <td>
                                        <span class="text-success">In Stock</span>
                                    </td>
                                    <td>$870,50</td>
                                    <td class="text-end">
                                        <div class="d-flex">
                                            <div class="dropdown ms-auto">
                                                <a href="#" data-bs-toggle="dropdown" class="btn btn-floating"
                                                    aria-haspopup="true" aria-expanded="false">
                                                    <i class="bi bi-three-dots"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a href="#" class="dropdown-item">Action</a>
                                                    <a href="#" class="dropdown-item">Another action</a>
                                                    <a href="#" class="dropdown-item">Something else here</a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input class="form-check-input" type="checkbox">
                                    </td>
                                    <td>
                                        <a href="#">
                                            <img src="../../assets/images/products/9.jpg" class="rounded" width="40"
                                                alt="...">
                                        </a>
                                    </td>
                                    <td>Perfume</td>
                                    <td>
                                        <span class="text-success">In Stock</span>
                                    </td>
                                    <td>$170,50</td>
                                    <td class="text-end">
                                        <div class="d-flex">
                                            <div class="dropdown ms-auto">
                                                <a href="#" data-bs-toggle="dropdown" class="btn btn-floating"
                                                    aria-haspopup="true" aria-expanded="false">
                                                    <i class="bi bi-three-dots"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a href="#" class="dropdown-item">Action</a>
                                                    <a href="#" class="dropdown-item">Another action</a>
                                                    <a href="#" class="dropdown-item">Something else here</a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>  -->
    <!-- ./ content -->

    <script>

        $(document).ready(function () {
            const ctx = document.getElementById('productchart').getContext('2d');


            const myChart = new Chart(ctx, {
                type: 'bar',
                data: {

                    labels: [{% for product in products %} '{{product.product_name}}', {% endfor %}],
            datasets: [{
                label: '# numbers',
                data: [{% for product in products %} '{{product.quantity_available}}', {% endfor %}],
            backgroundColor: [
            'rgba(255, 99, 132, 0.8)',
            'rgba(54, 162, 235, 0.8)',
            'rgba(255, 206, 86, 0.8)',
            'rgba(75, 192, 192, 0.8)',
            'rgba(153, 102, 255, 0.8)',
            'rgba(255, 159, 64, 0.8)'
        ],
            borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
        ],
            borderWidth: 1
            }]
        },
            options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    
    });



    </script>


    <script>
        var xValues = ['placed', 'shipped', 'out of delivery', 'completed', 'cancelled', 'returned'];
        var yValues = {{ order_status | safe}};
        var barColors = [
            'rgba(255, 159, 64, 0.8)',
            'rgba(255, 99, 132, 0.8)',
            '#77DD77',
            'rgba(54, 162, 235, 0.8)',

            'rgba(255, 206, 86, 0.8)',
            'rgba(75, 192, 192, 0.8)',
            'rgba(153, 102, 255, 0.8)',


        ];

        new Chart("orderchart", {
            type: "pie",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                }]
            },
            options: {
                title: {
                    display: true,
                    text: "Order Status Chart"
                }
            }
        });
    </script>

    <script>
        var xValues = ["Cash On Delevery", "PayPal", "RazorPay"];
        var yValues = {{ payment_type }};
        var barColors = [
            'rgba(255, 99, 132, 0.8)',
            'rgba(54, 162, 235, 0.8)',
            'rgba(255, 206, 86, 0.8)',
        ];

        new Chart("paymentchart", {
            type: "doughnut",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                }]
            },
            options: {
                title: {
                    display: true,
                    text: "Payment Modes Chart"
                }
            }
        });
    </script>


    <script>
        var xValues = ["Italy", "France", "Spain", "USA", "Argentina"];
        var yValues = [55, 49, 44, 24, 15];
        var barColors = ["red", "green", "blue", "orange", "brown"];

        new Chart("orderbycategory", {
            type: "bar",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                }]
            },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: "World Wine Production 2018"
                }
            }
        });
    </script>

    {% endblock %}