<div class="table-responsive" id="adminproducts">
    <table class="table table-custom table-lg mb-0" id="products">
        <thead>
            <tr>
                <th>
                    <input class="form-check-input select-all" type="checkbox" data-select-all-target="#products"
                        id="defaultCheck1">
                </th>
                <th>ID</th>
                <th>Photo</th>
                <th>Name</th>
                <th>Stock</th>
                <th>Price</th>
                <th>Catogery</th>
                <th class="text-end">Actions</th>
            </tr>
        </thead>
        <tbody>

            {% for product in productss %}
            <tr>
                <td>
                    <input class="form-check-input" type="checkbox">
                </td>
                <td>
                    <a href="#">#{{product.id}}</a>
                </td>
                <td>
                    <a href="#">
                        <img src="{{product.image1.url}}" class="rounded" width="40" alt="...">
                    </a>
                </td>
                <td>{{product.name}}</td>
                <td>
                    <span class="text-success">{{product.stocks}}</span>
                </td>
                <td>{{product.newpriceinr}}</td>
                <td>{{product.catogery}}</td>
                <td class="text-end">
                    <div class="d-flex">
                        <div class="dropdown ms-auto">
                            <a href="#" data-bs-toggle="dropdown" class="btn btn-floating" aria-haspopup="true"
                                aria-expanded="false">
                                <i class="bi bi-three-dots"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="{% url 'EditProduct' product.id %}" class="dropdown-item">Edit</a>
                                <a href="{% url 'DeleteProduct' product.id %}" type="button"
                                    class="dropdown-item">Delete</a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>