{% extends 'adminbase.html' %}

{% block content %}

<!-- content -->
<div class="content ">

    <div class="mb-4">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">
                        <i class="bi bi-globe2 small me-2"></i> Dashboard
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Products</li>
            </ol>
        </nav>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="d-md-flex gap-4 align-items-center">
                        <div class="d-none d-md-flex">
                            <h4> All Products </h4>
                        </div>
                        <div class="d-md-flex gap-4 align-items-center">
                            <form class="mb-3 mb-md-0">
                                <div class="row g-3">
                                    <div class="col-md-12">
                                        <select class="form-select" onchange="location = this.value; ">
                                            <option>Sort by</option>
                                            <option value="{% url 'AdminProductna' %}">Name (Asc)</option>
                                            <option value="{% url 'AdminProductnd' %}">Name (Desc)</option>
                                            <option value="{% url 'AdminProductsa' %}">Stocks (Asc)</option>
                                            <option value="{% url 'AdminProductsd' %}">Stocks (Desc)</option>
                                            <option value="{% url 'AdminProductpa' %}">Price (Asc)</option>
                                            <option value="{% url 'AdminProductpd' %}">Price (Desc)</option>
                                        </select>
                                    </div>

                                </div>
                            </form>
                        </div>
                        <div class="dropdown ms-auto">
                            <!-- <a href="#" data-bs-toggle="dropdown" class="btn btn-primary dropdown-toggle"
                                aria-haspopup="true" aria-expanded="false">Actions</a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="#" class="dropdown-item">Action</a>
                                <a href="#" class="dropdown-item">Another action</a>
                                <a href="#" class="dropdown-item">Something else here</a>
                            </div> -->
                            <a href="{% url 'AddProduct' %}">
                                <button class="btn btn-primary btn-icon">
                                    <i class="bi bi-plus-circle"></i> Add product
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive" id="adminproducts">
                <table class="table table-custom table-lg mb-0" id="products">
                    <thead>
                        <tr>
                            <th>
                                <input class="form-check-input select-all" type="checkbox"
                                    data-select-all-target="#products" id="defaultCheck1">
                            </th>
                            <th>ID</th>
                            <th>Photo</th>
                            <th>Name</th>
                            <th>Stock</th>
                            <th>Price</th>
                            <th>Catogery</th>
                            <th class="text-end">Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for product in productss %}
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox">
                            </td>
                            <td>
                                <a href="#">#{{product.id}}</a>
                            </td>
                            <td>
                                <a href="#">
                                    <img src="{{product.image1.url}}" class="rounded" width="40" alt="...">
                                </a>
                            </td>
                            <td>{{product.name}}</td>
                            <td>
                                <span class="text-success">{{product.stocks}}</span>
                            </td>
                            <td>{{product.newpriceinr}}</td>
                            <td>{{product.catogery}}</td>
                            <td class="text-end">
                                <div class="d-flex">
                                    <div class="dropdown ms-auto">
                                        <a href="#" data-bs-toggle="dropdown" class="btn btn-floating"
                                            aria-haspopup="true" aria-expanded="false">
                                            <i class="bi bi-three-dots"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a href="{% url 'EditProduct' product.id %}" class="dropdown-item">Edit</a>
                                            <button data-id="{{product.id}}" type="button"
                                                class="dropdown-item remove">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
            <nav class="my-4 justify-content-center" aria-label="Page navigation sample">
                {% if productss.has_other_pages %}
                <ul class="pagination mx-auto justify-content-center ">
                    {% if productss.has_previous %}
                    <li class="page-item"><a class="page-link"
                            href="?page-{{productss.previous_page_number}}">Previous</a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                    {% endif %}
                    {% for i in productss.paginator.page_range %}
                    {% if productss.number == i %}
                    <li class="page-item active"><a class="page-link" href="">{{i}}</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if productss.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{productss.next_page_number}}">Next</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                    {% endif %}
                </ul>
                {% endif %}
            </nav>
        </div>
        <div class="col-md-4">
            <h5 class="mb-4">Filter Products</h5>
            <div class="card mb-4">
                <form action="{% url 'filterpro' %}" method="GET">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
                            aria-expanded="true" data-bs-target="#keywordsCollapseExample" role="button">
                            <div>Keywords</div>
                            <div class="bi bi-chevron-down"></div>
                        </div>
                        <div class="collapse show mt-4" id="keywordsCollapseExample">
                            <div class="input-group">
                                <input type="text" class="form-control" name="search"
                                    placeholder="Phone, Headphone, Shoe ...">
                                <button class="btn btn-outline-light" type="submit">
                                    <i class="bi bi-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
                        aria-expanded="true" data-bs-target="#categoriesCollapseExample" role="button">
                        <div>Categories</div>
                        <div class="bi bi-chevron-down"></div>
                    </div>
                    <div class="collapse show mt-4" id="categoriesCollapseExample">
                        <div class="d-flex flex-column ">
                            <div class="form-check p-3 m-0">
                                <input class="form-check-input" type="checkbox" id="categoryCheck1">
                                <label class="form-check-label" for="categoryCheck1">
                                    All
                                </label>
                            </div>

                            {% for cat in catogeriess %}
                            <div class="form-check p-3 m-0">
                                <input class="form-check-input filter-checkbox" type="checkbox" id="categoryCheck1"
                                    data-filter="catogery" value="{{cat.id}}">
                                <label class="form-check-label" for="categoryCheck1">
                                    <a href="" style="color: black">{{cat.name}}({{cat.numpro}})</a>
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
                        aria-expanded="true" data-bs-target="#categoriesCollapseExample3" role="button">
                        <div>Brands</div>
                        <div class="bi bi-chevron-down"></div>
                    </div>
                    <div class="collapse show mt-4" id="categoriesCollapseExample3">
                        <div class="d-flex flex-column">
                            <div class="form-check p-3 m-0">
                                <input class="form-check-input" type="checkbox" id="categoryCheck1">
                                <label class="form-check-label" for="categoryCheck1">
                                    All
                                </label>
                            </div>

                            {% for i in brands %}
                            <div class="form-check p-3 m-0">
                                <input class="form-check-input filter-checkbox" data-filter="brands" value="{{i.id}}"
                                    type="checkbox" id="categoryCheck1">
                                <label class="form-check-label" for="categoryCheck1">
                                    <a href="" style="color: black">{{i.bname}}({{i.bpro}})</a>
                                </label>
                            </div>
                            {% endfor %}


                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
                        aria-expanded="true" data-bs-target="#categoriesCollapseExample2" role="button">
                        <div>Price Type</div>
                        <div class="bi bi-chevron-down"></div>
                    </div>
                    <div class="collapse show mt-4" id="categoriesCollapseExample2">
                        <div class="d-flex flex-column">
                            <div class="form-check p-3 m-0">
                                <input class="form-check-input" type="checkbox" id="categoryCheck1">
                                <label class="form-check-label" for="categoryCheck1">
                                    All
                                </label>
                            </div>

                            {% for i in ptypes %}
                            <div class="form-check p-3 m-0">
                                <input class="form-check-input filter-checkbox" value="{{i.id}}" type="checkbox"
                                    id="categoryCheck1" data-filter="ptype">
                                <label class="form-check-label" for="categoryCheck1">
                                    <a href="" style="color: black">{{i.genre}}({{i.ppro}})</a>
                                </label>
                            </div>
                            {% endfor %}


                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>
<!-- ./ content -->

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="sweetalert2.all.min.js"></script>
<script src="sweetalert2.min.js"></script>
<link rel="stylesheet" href="sweetalert2.min.css">

<style>
    .form-check {
        padding: 1px;
    }

    .form-check:hover {
        background-color: rgb(214, 214, 214);
    }
</style>
<script>
    $(".remove").on("click", function (e) {


        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire(
                    'Deleted!',
                    'Your file has been deleted.',
                    'success',

                    $.ajax({
                        type: "GET",
                        url: "{% url 'DeleteProduct' %}",
                        data: {
                            productid: $(this).data('id')
                        },
                        success: function (response) {
                            location.reload();
                        }
                    })
                )
            }
        })
    });
</script>

{% endblock %}
