{% extends 'adminbase.html' %}
{% block content %}
{% load static %}


<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.0/html2pdf.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.0/html2pdf.bundle.min.js"
    integrity="sha512-w3u9q/DeneCSwUDjhiMNibTRh/1i/gScBVp2imNVAMCt6cUHIw6xzhzcPFIaL3Q1EbI2l+nu17q2aLJJLo4ZYg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js">
</script>
<script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js">
</script>

<!-- CSS -->
<link rel="stylesheet" href="libs/datepicker/daterangepicker.css" type="text/css">

<!-- Javascript -->
<script src="libs/datepicker/daterangepicker.js"></script>


<!-- CSS -->
<link rel="stylesheet" href="{% static 'libs/datepicker/daterangepicker.css' %}" type="text/css">

<!-- Javascript -->
<script src="{% static 'libs/datepicker/daterangepicker.js' %}"></script>
<!-- content -->
<div class="content ">

    <div>
        <nav class="d-flex justify-content-between" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <div>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">
                            <i class="bi bi-globe2 small me-2"></i> Dashboard
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Customers</li>
                </ol>
            </div>


        </nav>
    </div>

    <!-- <div class="row g-4 mb-4">
        <div class="col-md-8">
            <div class="card h-100">
                <div class="card-body">
                    <h6 class="card-title">New Customers</h6>
                    <div id="new-customers"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="d-flex mb-4">
                        <h6 class="card-title mb-0">Customer Rating</h6>
                        <div class="dropdown ms-auto">
                            <a href="#" data-bs-toggle="dropdown" class="btn btn-sm" aria-haspopup="true"
                                aria-expanded="false">
                                <i class="bi bi-three-dots"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="#" class="dropdown-item">View Detail</a>
                                <a href="#" class="dropdown-item">Download</a>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="display-6">3.0</div>
                        <div class="d-flex justify-content-center gap-3 my-3">
                            <i class="bi bi-star-fill icon-lg text-warning"></i>
                            <i class="bi bi-star-fill icon-lg text-warning"></i>
                            <i class="bi bi-star-fill icon-lg text-warning"></i>
                            <i class="bi bi-star-fill icon-lg text-muted"></i>
                            <i class="bi bi-star-fill icon-lg text-muted"></i>
                            <span>(318)</span>
                        </div>
                    </div>
                    <div class="text-muted d-flex align-items-center justify-content-center">
                        <span class="text-success me-3 d-block">
                            <i class="bi bi-arrow-up me-1 small"></i>+35
                        </span> Point from last month
                    </div>
                    <div class="row my-4">
                        <div class="col-md-6 m-auto">
                            <div id="customer-rating"></div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-outline-primary btn-icon">
                            <i class="bi bi-download"></i> Download Report
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="card my-3">
        <div class="card-body ">
            <form action="" method="post">
                {% csrf_token %}

                <div class="d-md-flex row">
                    <div class="col-md-4">
                        Select range :
                        <input type="text" name="dates" class="form-control">
                    </div>
                    <div class="col-md-3 ">

                        <span class="my-auto">Month :<select name="month" class="form-select"
                                aria-label="Default select example">
                                <option selected></option>
                                {% for month in months %}
                                <option value="{{forloop.counter}}">{{month}}</option>
                                {% endfor %}
                            </select>
                    </div>
                    <div class="col-md-3">
                        <span class="my-auto"> Year :<select name="year" class="form-select"
                                aria-label="Default select example2">
                                <option selected></option>
                                {% for year in years %}
                                <option value="{{forloop.counter}}">{{year}}</option>
                                {% endfor %}
                            </select>
                    </div>
                    <div class="col-md-2">
                        <button class="mt-2 py-3 px-5 btn btn-outline-dark">Filter</button>
                    </div>


                </div>
            </form>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="d-md-flex">
                <div class="d-md-flex gap-4 align-items-center">
                    <form class="mb-3 mb-md-0">
                        <div class="row g-3">

                            <div class="col-md-12">
                                <div>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search">
                                        <button class="btn btn-outline-light" type="button">
                                            <i class="bi bi-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </form>
                </div>
                <div class="ms-auto">
                    <button class="btn btn-dark mx-2" id="pdf">Download PDF</button>
                    <button class="btn btn-dark mx-2 text-white">
                        <a class="text-white" href="{% url 'export_csv' %}">Export CSV</a>
                    </button>
                    <button class="btn btn-dark mx-2 text-white">
                        <a class="text-white" href="{% url 'export_excel' %}">Export
                            Excel</a>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive" id="pdftable">
        <table class="table table-custom table-lg mb-0 justify-content-between p-3" id="customers">
            <thead>
                <tr>
                    <th></th>

                    <th>ID</th>
                    <th>Photo</th>
                    <th>Fullname</th>
                    <th>Payment</th>
                    <th>No of items</th>
                    <th>Amount</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for i in pay %}
                <tr>
                    <td></td>
                    <td>
                        <a href="#">#{{i.id}}</a>
                    </td>
                    <td>
                        <div class="avatar avatar-info">
                            <img src="{{i.payuser.propic.url}}" height="10%" width="60%" class="rounded-circle"
                                alt="..." />
                        </div>
                    </td>
                    <td>{{i.order.customer.username}}</td>
                    <td>{{i.method}}</td>
                    <td>{{i.order.get_cart_items}}</td>
                    <td>{{i.amountinr}}</td>
                    <td>{{i.order.date_ordered|date}}</td>

                </tr>
                {% endfor %}


            </tbody>
        </table>
    </div>


</div>
<!-- ./ content -->




<script type="text/javascript">
    document.getElementById('pdf').onclick = function () {
        var element = document.getElementById('pdftable');
        html2pdf(element, {
            margin: 10,
            filename: 'SalesReport.pdf',
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: { scale: 2, logging: true, dpi: 192, letterRendering: true },
            jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
        });
    };
</script>

<script>
    var datefilter = $('input[name="dates"]');
    datefilter.daterangepicker({
        autoUpdateInput: false,
        locale: {
            cancelLabel: 'Clear'
        }
    });

    datefilter.on('apply.daterangepicker', function (ev, picker) {
        from = $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
    });

    $('input.create-event-datepicker').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        autoUpdateInput: false
    }).on('apply.daterangepicker', function (ev, picker) {
        to = $(this).val(picker.startDate.format('MM/DD/YYYY'));
    });
</script>
{% endblock %}