{% extends 'adminbase.html' %}
{% block content %}
{% load static %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.0/html2pdf.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.0/html2pdf.bundle.min.js"
    integrity="sha512-w3u9q/DeneCSwUDjhiMNibTRh/1i/gScBVp2imNVAMCt6cUHIw6xzhzcPFIaL3Q1EbI2l+nu17q2aLJJLo4ZYg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>


<!-- content -->
<div class="content ">


    <div class="mb-4">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">
                        <i class="bi bi-globe2 small me-2"></i> Dashboard
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Customers</li>
            </ol>
        </nav>
    </div>



    <div class="card">
        <div class="card-body">
            <div class="d-md-flex">
                <div class="d-md-flex gap-4 align-items-center">
                    <form class="mb-3 mb-md-0">
                        <div class="row g-3">

                            <div class="col-md-4">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-light dropdown-toggle"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        Sort by
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Desc</a></li>
                                        <li><a class="dropdown-item" href="#">Asc</a></li>
                                    </ul>
                                </div>
                            </div>



                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <button class="btn btn-outline-light" type="button">
                                        <i class="bi bi-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="ms-auto">
                    <button class="btn btn-outline-dark mx-3" id="pdf">Download PDF</button>
                    <button class="btn btn-outline-dark" id="excel">Download Excel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive" id="pdftable">
        <table class="table table-custom table-lg mb-0 justify-content-between p-3" id="customers">
            <thead>
                <tr>
                    <th></th>

                    <th>ID</th>
                    <th>Photo</th>
                    <th>Fullname</th>
                    <th>Payment</th>
                    <th>No of items</th>
                    <th>Amount</th>
                    <th>Date and Time</th>
                </tr>
            </thead>
            <tbody>
                {% for i in pay %}
                <tr>
                    <td></td>
                    <td>
                        <a href="#">#{{i.id}}</a>
                    </td>
                    <td>
                        <div class="avatar avatar-info">
                            <img src="{{user.propic.url}}" height="10%" width="60%" class="rounded-circle" alt="..." />
                        </div>
                    </td>
                    <td>{{i.order.customer.username}}</td>
                    <td>{{i.method}}</td>
                    <td>{{i.order.get_cart_items}}</td>
                    <td>{{i.order.get_cart_total}}</td>
                    <td>{{i.order.date_ordered}}</td>

                </tr>
                {% endfor %}


            </tbody>
        </table>
    </div>


</div>
<!-- ./ content -->

<script>
    $('#excel').click(function () {
        $("#pdftable").table2excel({
            filename: "Salesreport.xls"
        });
    });
</script>

<script type="text/javascript">
    document.getElementById('pdf').onclick = function () {
        var element = document.getElementById('pdftable');
        html2pdf(element, {
            margin: 10,
            filename: 'SalesReport.pdf',
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: { scale: 2, logging: true, dpi: 192, letterRendering: true },
            jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
        });
    };
</script>

{% endblock %}